{
    "handlers": { 
        "default": { 
            "type": "set", 
            "handlers": ["influxdb"] 
        }, 
        "influxdb": { 
            "type": "udp", 
            "mutator": "influxdb_line_protocol", 
            "socket": { 
                       "host": "localhost", 
                       "port": 8090 
            } 
        } 
} 

}
